.Accordion {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.Accordion-Side {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width:1600px) {

    .Accordion {
        gap: 40px;
    }

    .Accordion-Side {
        gap: 24px;
    }
}

@media (max-width:1400px) {

    .Accordion {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .Accordion-Side {
        gap: 20px;
    }

}