.HistoryCard {
    max-width: 1296px;
    display: flex;
    gap: 50px;


}

.horizontal-line::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 100%;
    height: 230px;
    width: 12px;
    background-color: var(--warm-sunset);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);

}

.horizontal-line::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 240px;
    background-color: var(--black);
    left: 10px;
    transform: translateX(-50%);
    bottom: 50%;
}

.HistoryLeft {
    max-width: 448.31px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.YearBox {
    max-width: 364.31px;
    border-radius: 12px;
    border: 2px solid var(--dark-gray);
    background-color: var(--white);
    box-shadow: 6px 6px 0px 2px var(--charcoal);
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;


}

.YearBox img {
    width: 87.31px;
}

.YearBox h3 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 68px;
    line-height: 130%;
    color: var(--priamry-dark);

}

.horizontal-line {
    width: 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

}

.small-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--dark-gray);
    background-color: var(--white);

}

.small-line {
    width: 55px;
    height: 12px;
    gap: 10px;
    padding: 6px 6px 6px 0px;
    background-color: var(--warm-sunset);
    display: flex;
    justify-content: center;
    align-items: center;


}

.InsideLine {
    border: 2px solid var(--black);
    width: 100%;
}

.TextHistory {
    max-width: 797.69px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TextHistory h4 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    color: var(--priamry-dark);

}

.TextHistory p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--medium-gray);

}

@media (max-width:1500px) {
    .HistoryCard {
        max-width: 1080px;
        gap: 40px;


    }

    .horizontal-line::after {
        height: 200px;
    }

    .horizontal-line::before {
        height: 210px;
    }

    .HistoryLeft {
        max-width: 332px;

    }

    .YearBox {
        max-width: 559px;
        border-radius: 10px;
        box-shadow: 4px 4px 0px 1px var(--charcoal);
        padding: 24px 34px;


    }

    .YearBox img {
        width: 60px;
    }

    .YearBox h3 {
        font-size: 48px;


    }

    .horizontal-line {
        width: 84px;

    }



    .small-line {
        width: 44px;
        height: 12px;


    }


    .TextHistory {
        max-width: 708px;
        gap: 16px;
    }

    .TextHistory h4 {
        font-size: 24px;


    }

    .TextHistory p {

        font-size: 16px;


    }

}

@media (max-width:1200px) {
    .HistoryCard {
        max-width: 328px;
        gap: 30px;
        flex-direction: column;


    }

    .horizontal-line::after {
        height: 200px;
    }

    .horizontal-line::before {
        height: 210px;
    }

    .HistoryLeft {
        max-width: 257px;

    }

    .YearBox {
        max-width: 206px;
        padding: 20px 24px;


    }

    .YearBox img {
        width: 50px;
    }

    .YearBox h3 {
        font-size: 38px;


    }

    .horizontal-line {
        width: 62px;

    }



    .small-line {
        width: 22px;



    }


    .TextHistory {
        width: 100%;
        gap: 12px;
        padding-left: 44px;
    }

    .TextHistory h4 {
        font-size: 22px;


    }


}