.SliderCard {
    width:425.33px;
    border: 2px solid var(--dark-gray);
    border-radius: 12px;
    padding: 50px;
    background-color: var(--white);
    box-shadow: 6px 6px 0px 2px var(--charcoal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;

}

.Profile-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.Profile-Image-Container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--medium-gray);
    padding: 10px;
    background-color: var(--soft-cream);


}

.Profile-Image {
    width: 56.37px;
}

.Profile-Container p {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: var(--medium-gray);
}

.RateProfile {
    width: 140px;
}

.Openion {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--medium-gray);

}

@media (max-width:1777px) {
    .SliderCard {
        width: 340px;
        border-radius: 10px;
        padding: 40px;
        gap: 24px;

    }

    .Profile-Container {
        gap: 10px;
    }

    .Profile-Image-Container {
        width: 66px;
        height: 66px;
        padding: 8px;
    }

    .Profile-Image {
        width: 46.97px;
    }

    .Profile-Container p {
        font-size: 20px;
    }

    .RateProfile {
        width: 116px;
    }

    .Openion {
        font-size: 16px;
    }

}

@media (max-width:900px) {
    .SliderCard {
        width: 358px;
        padding: 30px;
        gap: 20px;

    }



}