.AllNavigateCards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.RowNavigateCard {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media (max-width:1440px) {

    .AllNavigateCards {
        gap: 40px;
    }

    .RowNavigateCard {
        gap: 40px;
    }
}

@media (max-width:1200px) {

    .AllNavigateCards {
        gap: 40px;
        align-items: center;
    }

    .RowNavigateCard {
        flex-direction: column;
        gap: 40px;
    }

}