.TeamCards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.TeamCardRow {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media (max-width:1440px) {

    .TeamCards,
    .TeamCardRow {
        gap: 40px;

    }
}

@media (max-width:992px) {
    .TeamCards {
        justify-content: center;
        align-items: center;
    }
    .TeamCardRow {
        flex-direction: column;

    }
}