.BenefitsCard {
    width: 504px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    border: 2px solid var(--dark-gray);
    padding: 80px 50px 50px 50px;
    background-color: var(--white);
    box-shadow: 6px 6px 0px 2px var(--charcoal);
    position: relative;

}

.IconContainer {
    width: 74px;
    border: 2px solid var(--dark-gray);
    border-radius: 12px;
    padding: 20px;
    background-color: var(--light-orange);
    position: absolute;
    z-index: 1000;
    left: 5.95%;
    top: -35px;


}

.IconContainer img {
    width: 34px;
}

.BenefitsCard h2 {
    font-family: serif, "Raleway";
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    color: var(--primary-dark);

}

.BenefitsCard p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-muted);

}

@media (max-width:1440px) {
    .BenefitsCard {
        width: 400px;
        gap: 16px;
        border-radius: 10px;
        padding: 60px 40px 40px 40px;
        box-shadow: 4px 4px 0px 2px var(--charcoal);


    }

    .IconContainer {
        width: 56px;
        border-radius: 8px;
        padding: 16px;
        left: 6%;
        top: -28px;
    }

    .IconContainer img {
        width: 24px;
    }

    .BenefitsCard h2 {
        font-size: 24px;
    }

    .BenefitsCard p {
        font-size: 16px;
    }

}

@media (max-width:900px) {
    .BenefitsCard {
        width: 358px;
        padding: 50px 40px 30px 30px;
        box-shadow: 4px 4px 0px 1px var(--charcoal);

    }


    .BenefitsCard h2 {
        font-size: 22px;
    }



}