.BenefitsCardContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.AllBenefitsCard {
    display: flex;
    gap: 40px;
}

@media (max-width:1440px) {


    .BenefitsCardContainer {
        gap: 40px;
    }

}

@media (max-width:1200px) {
    .BenefitsCardContainer {
        gap: 68px;
    }

    .AllBenefitsCard {
        flex-wrap: wrap;
        justify-content: center;
        gap: 68px;
    }

}